[submodule "Tulip/vendor/spdlog"]
	path = Tulip/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Tulip/vendor/GLFM"]
	path = Tulip/vendor/GLFM
	url = https://github.com/TheCherno/glfw.git
[submodule "Tulip/vendor/GLFW"]
	path = Tulip/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
